<div class="container row" id="container-recorder" style="margin: 0;">
    <video controls></video><br/>

    <p id="msg" style="font-weight: bold; color:darkblue;">View the preview in video player</p>
    <video id="vid2" controls></video>
    <hr/>
    <span id="dhms"></span> <span id="days"></span> <span id="hours"></span> <span id="mins"></span> <span id="secs"></span>

<hr/>

<input type="button" id="btnStart" value="Start Recording" class="btn btn-info"/>

<input type="button" id="btnStop" value="Stop Recording" class="btn btn-danger"/>

<input type="button" id="btnDownload" value="Download Video" class="btn btn-success"/>
</div>


<script src="{{ url_for('static', filename='recorder.js') }}?v=2.0.0.1"></script>